Source: opx-tools
Section: net
Priority: optional
Maintainer: Dell EMC <ops-dev@lists.openswitch.net>
Build-Depends:
 debhelper (>= 9), dh-autoreconf, exuberant-ctags 
Standards-Version: 3.9.3
Vcs-Browser: https://github.com/open-switch/opx-tools
Vcs-Git: https://github.com/open-switch/opx-tools.git

Package: opx-tools
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, python-apt
Description: Openswitch tools which will be used in OPX Package Management
